body {
    background-image: url("assets/images/backg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1920px 1080px
}

p {
    color: blue
}